.landing {
}
.landingHeader {
  width: 100%;
  background-color: #0f2431;
}

.landingHeaderContent {
  max-width: 1260px;
  height: 650px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingHeaderTitle {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 180px;
}

.landingHeaderButton {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: "Stick", sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding: 20px 50px;
  max-width: 250px;
  color: rgba(0, 0, 0, 0.85);
  background-color: #f9b248;
}

.landingHeaderButton:hover {
  color: #f5f5f5;
  background-color: #f99c38;
}

.landingTitleItem,
.landingSubtitleItem {
  font-family: "Stick", sans-serif;
}

.landingSubtitleItem {
  color: #f5f5f5;
}

.landingTitleItem {
  font-weight: 700;
  font-size: 120px;
  line-height: 100px;
  color: #f43b45;
}

.landingSubtitleItem {
  font-size: 70px;
}

.landingMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1260px;
  margin: 100px auto;
}

.landingAbout {
  margin-top: 50px;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.landingAboutButton {
  margin-top: 50px;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: "Stick", sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding: 20px 50px;
  max-width: 250px;
  color: rgba(0, 0, 0, 0.85);
  background-color: #ef3e55;
}

.landingAboutButton:hover {
  color: #f5f5f5;
  background-color: #dd2a49;
}
