.container {
  margin: auto;
  min-height: 100vh - 80px;
  margin-top: 80px;
}

h3 {
  line-height: 0px;
  font-size: 45px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Stick", sans-serif;
}

h4 {
  line-height: 0px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Stick", sans-serif;
}

p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto", sans-serif;
}
